.announcment__mainContainer {
    max-width: 1440px;
    margin: 0 auto;
    z-index: -1;
}

.announcements {
    background-color: #d8e8e3;
    display: flex;
    justify-content: center;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}