.chill {
    margin-top: 32px;
    margin-bottom: 32px;
}
.chill__leftRight__section {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    z-index: -1;
}

.chill__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F0EB;
    color: #1e3932;
    /*margin-right: 120px;*/
    /*padding: 32px 48px;*/
}

.chill__image {
    width: 50%;
    display: flex;

    /*height: 625px;*/
    /*display: flex;*/
    /*margin-left: 120px;*/
    /*flex: 1;*/
}

.chill__image > img {
    width: 100%;
}

.chill__text h1, .chill__text h3 {
    margin: 0;
    font-weight: 500;

}

.chill__text h1 {
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    text-align: center;
    letter-spacing: 8px;
}

.chill__text h3 {

}

.chill__text h3 {
    margin-bottom: 32px;
    font-size: 19px;
    padding: 0px 30px;
    text-align: center;


}

.cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1e3932;
    font-weight: 600;
    cursor: pointer;
}

.cta:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
}