.empty {
    max-width: 1440px;
    margin: 0 auto;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.empty__something > p:first-child {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 100px;
    max-width: 700px;
    text-align: center;
}

.empty__something > p:last-child {
    font-weight: 700;
    margin-top: 20px;
    max-width: 700px;
    text-align: center;
    margin-bottom: 30px;
}

.empty {
    display: flex;
}