.rewards__leftRight__section {
    display: flex;
}

.rewards__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
}

.rewards__image {
    width: 50%;
}

.rewards__image {
    height: 420px;
}

.rewards__image > img {
    height: 100%;
}