.rewards__leftRight__section {
    display: flex;
}

.rewards__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F8F6;
    color: #1e3932;
    padding: 32px 48px;
}

.rewards__image {
    width: 50%;
}

.rewards__image {
    height: 420px;
}

.rewards__image > img {
    height: 100%;
}

.rewards__text h1, .rewards__text h3 {
    margin: 0;
    font-weight: 500;

}

.rewards__text h1 {
    margin-bottom: 24px;
}

.rewards__text h3 {
    margin-bottom: 32px;
    font-size: 19px;

}

.cta {

}